{#
 # This file is part of the CRUDlex package.
 #
 # (c) Philip Lehmann-Böhm <philip@philiplb.de>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

<label>
    <input type="checkbox" id="{{ field }}" value="1" {% if value %} checked="checked" {% endif %} name="{{ fieldNamePrefix ~ field }}" />
    {% include app.crud.getTemplate(app, 'template', 'fieldLabel', crudEntity) with {
        field: field,
        definition: crudData.getDefinition(),
        annotations: annotations
    } only %}
</label>
