{#
 # This file is part of the CRUDlex package.
 #
 # (c) Philip Lehmann-Böhm <philip@philiplb.de>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

<label for="{{ field }}" class="control-label">
    {{ definition.getFieldLabel(field) }}
    {% if annotations %}
        {% set markers = [] %}
        {% if definition.isRequired(field) %}
            {% set markers = markers|merge(['*']) %}
        {% endif %}
        {% if definition.isUnique(field) %}
            {% set markers = markers|merge(['must be unique']) %}
        {% endif %}
        {{ markers|join(', ') }}
    {% endif %}
    {% if definition.getDescription(field) %}
        <p><small>{{ definition.getDescription(field) }}</small></p>
    {% endif %}
</label>
