{#
 # This file is part of the CRUDlex package.
 #
 # (c) Philip Lehmann-Böhm <philip@philiplb.de>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% include app.crud.getTemplate(app, 'template', 'fieldLabel', crudEntity) with {
    field: field,
    definition: crudData.getDefinition(),
    annotations: annotations
} only %}
<select class="form-control" multiple="multiple" id="{{ field }}" name="{{ fieldNamePrefix ~ field }}">
    {% set values = crudData.getIdToNameMap(crudData.getDefinition().getManyEntity(field), crudData.getDefinition().getManyNameField(field)) %}
    {% for id, manyValue in values %}
        <option value="{{ id }}" {% if value and id in app.crud.arrayColumn(value, 'id') %}selected="selected" {% endif %}>{{ manyValue }}</option>
    {% endfor %}
</select>
